__pycache__
.vscode
currentexp
generated/
outputs/
LLaMEA/
*.pt
nohup.out
ModDE/
LensGOpt/
data/benchmark_algs/
problems/meta_surface_solver
data/Ablation_ELA/X/
data/Ablation_ELA/Y/
data/Ablation_ELA/atom/
.ipynb_checkpoints/
opytimizer.log*
data/Ablation_ELA/models/sota_as_models.joblib
XAI-liacs-LLaMEA-6d8b3c1/
*.joblib
.venv
RAR_DIR/
*.pkl
data/Combined/regressor_model_comparison_per_problem_normalized/validation_predictions_all_models.csv
data/Combined/tabpfn3_regressor_selection_per_problem_normalized/tabpfn3_training_table.csv
data/Combined/regressor_model_comparison_per_problem_normalized/validation_predictions_all_models.csv
data/Combined/autogluon_feature_selection_then_retrain/feature_subset_predictions_all_folds.csv
data/Combined/autogluon_regressor_selection_per_problem_normalized/autogluon_predictions_all_folds.csv
data/Combined/autogluon_regressor_selection_per_problem_normalized/autogluon_training_table.csv
data/Combined/autogluon_regressor_selection_per_problem_normalized/autogluon_training_meta_table.csv
data/Combined/autogluon_native_feature_prune/native_feature_prune_predictions_all_folds.csv
