__pycache__
.vscode
currentexp
generated/
outputs/
LLaMEA/
*.pt
nohup.out
ModDE/
LensGOpt/
data/benchmark_algs/
problems/meta_surface_solver
data/Ablation_ELA/X/
data/Ablation_ELA/Y/
data/Ablation_ELA/atom/
.ipynb_checkpoints/
opytimizer.log*
data/Ablation_ELA/models/sota_as_models.joblib
XAI-liacs-LLaMEA-6d8b3c1/
*.joblib